@import "reset.css";

body {
  background-color: #f6f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__btn {
  margin-bottom: 20px;
}

.controls__btn > button {
  border-radius: 15px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  /* all: unset; */
}

.controls__btn button:active {
  transform: scale(0.98);
}

.controls .controls__colors {
  display: flex;
}

.controls .controls__range {
  margin-bottom: 20px;
}

.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  margin: 0 3px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}